.sectionThree{
    width: 100%;
    height: 546px;
    background: #E5E5E5;
}
.linesDiv{
    position: relative;
    width: 620px;
    height: 350px;
}
.linesDiv span{
    position: absolute;
    top: 170px;
    left: -25px;
    transform-origin: center;
    width: 670px;
    height: 0.24px;
    background:  #0065FF;
}
.linesDiv span:first-child{
    transform: rotate(29deg);
}
.linesDiv span:last-child{
    transform: rotate(-29deg);
}

.sectionThree .titleDiv p{
    width: 480px;
    height: 240px;
    margin-top: -30px;
}
.sectionThree .titleDiv h3{
    margin-top: -30px;
}
.sectionThree .titleDiv button{
    width: 230px;
    height: 50px;
    background-color: white;
}
.sectionThree .titleDiv button:hover{
    background-color: #0065FF;
}