.sectionTwo{
    padding: 50px 350px 50px 250px;
}
.lineText{
    font-size: 17px;
}
.rectangle{
    position: relative;
    width: 620px;
    height: 350px;
    background: #E5E5E5;
    border-radius: 10px;
}
.rectangle span{
    position: absolute;
    top: 170px;
    left: -25px;
    transform-origin: center;
    width: 670px;
    height: 0.24px;
    background: #0065FF;
}
.rectangle span:first-child{
    transform: rotate(29deg);
}
.rectangle span:last-child{
    transform: rotate(-29deg);
}

.leadingText{
    width: 270px;
    font-size: 18px;
}
.primaryBtn{
    width: 200px;
    height: 45px;
}